.video_container {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.navigation {
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation, #createAccountForm, .main, .footer {
  position: relative;
}

.welcome_header, .welcome_subheader {
  all: unset;
  display: block;
  text-align: center;
  text-transform: lowercase;
}

.welcome_header {
  font-size: 1.5em;
  padding-bottom: .5em;
}

.welcome_subheader {
  font-size: 1.1em;
}

.welcome_footer {
  text-align: center;
  text-transform: lowercase;
  padding-top: .3em;
}